* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--clr-bg: linear-gradient(to right top, #65dfc9, #6cdbed);
	--clr-border: hsl(6, 93%, 71%);
	--clr-black: hsl(0, 0%, 0%);
	--rotation: 0;
	--clr-glass: linear-gradient(
		to right top,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}

body {
	background: var(--clr-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}
.container {
	width: 400px;
	height: 400px;
	background: var(--clr-glass);
	border-radius: 50%;
	border: 0.4rem solid var(--clr-border);
	position: relative;
}
.container .item {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transform: rotate(var(--rotation));
	font-size: 2rem;
	font-weight: 700;
}
.container .one {
	--rotation: 30deg;
}
.container .two {
	--rotation: 60deg;
}
.container .three {
	--rotation: 90deg;
}
.container .four {
	--rotation: 120deg;
}
.container .five {
	--rotation: 150deg;
}
.container .six {
	--rotation: 180deg;
}
.container .seven {
	--rotation: 210deg;
}
.container .eigth {
	--rotation: 240deg;
}
.container .nine {
	--rotation: 270deg;
}
.container .ten {
	--rotation: 300deg;
}
.container .eleven {
	--rotation: 330deg;
}
.container .hand {
	position: absolute;
	bottom: 50%;
	left: 50%;
	border: 1px solid hsl(0, 93%, 45%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform-origin: bottom;
	background-color: var(--clr-black);
	z-index: 10;
	transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.container::after {
	content: '';
	position: absolute;
	background-color: black;
	z-index: 11;
	width: 1.5rem;
	height: 1.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.container .hand.hour {
	height: 35%;
	width: 0.9rem;
	background-color: black;
}
.container .hand.min {
	height: 40%;
	width: 0.7rem;
	background-color: purple;
}
.container .hand.sec {
	height: 49%;
	width: 0.3rem;
	background-color: hsl(0, 93%, 45%);
}
